<<<<<<< HEAD
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.slider{
    position: relative;
    background-color: grey;
    height: 100vh;
    padding: 20px 0;
}
.active-img{
    height: 500px;
    width: 80%;
    background-color: aqua;
    position: relative;
    box-shadow: 5px 5px 10px black;
    margin: 20px auto;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
 

.img-show{
    position: relative;
    display: flex;
    width: 80%;
    flex-wrap: nowrap;
    overflow: hidden;
    margin: auto;
    opacity: 1;
}
.img-show img{
    padding: 0px 10px;
    opacity: 0.8;
    height: 125px;
    width: 250px;
}

.next,.prev{
    position: absolute;
    font-size: 2rem;
    font-weight: 500;
    padding: 5px;
    background-color: transparent;
    border: none;
}
.next{
    right: 120px;
    bottom: 80px;
    /* border-radius: 5px 0 0 5px; */

}
.prev{
    left: 120px;
    bottom: 80px;
    /* border-radius: 0 5px 5px 0; */

=======
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.slider{
    position: relative;
    background-color: grey;
    height: 100vh;
    padding: 20px 0;
}
.active-img{
    height: 500px;
    width: 80%;
    background-color: aqua;
    position: relative;
    box-shadow: 5px 5px 10px black;
    margin: 20px auto;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-show{
    background-image: url('');
}
 

.img-show{
    position: relative;
    display: flex;
    width: 80%;
    flex-wrap: nowrap;
    overflow: hidden;
    margin: auto;
    opacity: 1;
}
.img-show img{
    padding: 0px 10px;
    opacity: 0.8;
    height: 125px;
    width: 250px;
}

.next,.prev{
    position: absolute;
    font-size: 2rem;
    font-weight: 500;
    padding: 5px;
    background-color: transparent;
    border: none;
}
.next{
    right: 120px;
    bottom: 80px;
    /* border-radius: 5px 0 0 5px; */

}
.prev{
    left: 120px;
    bottom: 80px;
    /* border-radius: 0 5px 5px 0; */

>>>>>>> 642df2e (done)
}